@import '_myinputrange.sass'

$font-dark: #000000
$font-main: #7a7677
$font-light: #2c97d4
$header-background: #2d97d4
$card-background: #f7f7f7
$main-background: #ffffff

@mixin for-phone-only
    @media (max-width: 900px)
        @content

@mixin for-phone-up
    @media (min-width: 400px) 
        @content

@mixin for-tablet
    @media (min-width: 600px) 
        @content

@mixin for-desktop
    @media (min-width: 1000px) 
        @content

@mixin for-big-desktop
    @media (min-width: 1200px)
        @content

* 
    padding: 0
    margin: 0
    font-family: 'Droid Sans', sans-serif
h1,
h2,
h3
    color: $font-dark
p    
    color: $font-main
    font-size: 1em

a:link,
a:active,
a:visited
    color: $font-light
a:hover
    color: $header-background

header
    display: flex
    flex-flow: column nowrap
    justify-content: flex-start
    align-items: center
    .header_top
        background-color: $header-background
        width: 100%
        height: 100px

        z-index: 1

        *
            color: $main-background
        .logo
            float: left
            position: relative
            &.hide
                display: none
            .logo__el
                text-transform: uppercase
                font-weight: bold

                display: none
                &.active
                    display: block

                margin: 20px

                i
                    background-color: $main-background
                    color: $font-light

                    margin: 10px
        .menu
            float: right
            position: relative
            height: 80px
            overflow: hidden

            background-color: $header-background
            transform-origin: all
            transition-duration: .6s
            transition-timing-function: ease-in-out
            &.show
                height: 330px
                transition-duration: 0
                .menu__el
                    width: 150px
                .trigger
                    text-align: center
                @include for-phone-only
                    width: 100vw
                    height: 100vh
                    display: flex
                    flex-direction: column
                    align-items: center
                    justify-content: center
                    .menu__el

                        flex: 1
            &.hide
                .menu__el:not(:first-child) 
                    opacity: 0

            .menu__el
                text-transform: uppercase
                font-weight: bold
                
                width: 60px
                opacity: 1                

                transform-origin: all
                transition-duration: .2s
                transition-timing-function: ease-in-out
                &.trigger
                    height: 60px
                    cursor: pointer
                    &:hover
                        animation: hamburger 1s forwards ease-out
                    
                margin: 20px

                list-style: none
                i
                    background-color: $main-background
                    color: $font-light

                    margin: 10px
    .lang-select
        position: fixed
        top: 16%
        left: 0
        @include for-desktop
            left: 10px        
        div
            cursor: pointer
            width: 40px
            @include for-desktop
                width: 80px
                img
                    width: 80px
            &.selected
                img
                    border: 1px solid gold            
                    border-radius: 50%                
            img
                width: 42px
    .header_avatar
        width: 120px
        height: 120px
        
        border-radius: 50%
        border: 5px solid $header-background

        background-image: url('../assets/avatar.jpg')
        background-color: $main-background
        background-size: cover

        transform: translateY(-60px)

        z-index: 5
        overflow: hidden
        &.hide
            z-index: 0
        img
            height: 150px
            width: 120px
            border-radius: 50%
    .header_bot
        text-align: center

        transform: translateY(-40px)
.main
    width: 80%
    margin: 0 auto

    display: flex
    flex-direction: column
    justify-content: space-between

    .main__col:first-child
        flex: 1

    .main__el
        background-color: $card-background
        
        border-bottom: 1px solid lightgray

        padding: 25px
        margin: 25px

        position: relative

        h3
            margin-bottom: 15px 
        .el__icon
            position: absolute
            top: 10px
            right: 10px          
            border-radius: 50%
        li
            list-style: none
            margin-top: 15px
            i
                margin-right: 15px
        ul.el__contacts
            li
                display: flex
                align-items: center
        ul.el__skills
            li
                display: flex
                align-items: center
                
                .skill__icon
                    width: 10%
                    margin-right: 15px
                        
                .skill__info
                    width: 90%
                    input[type="range"]
                        width: 90%
        ul.el__languages
            display: flex
            justify-content: space-around
            li
                display: flex
                flex-direction: column
                align-items: center
                flex: 1
                margin-right: 15px
                margin-left: 15px
                .flag
                    flex: 1
                    background-size: cover
                    img
                        height: 100px
                .language
                    .language__name
                        width: 100%
                        margin-top: 10px
                        margin-bottom: 10px
                        text-align: center
                    .language__level
                        align-items: center

                        width: 100%
                        display: flex
                        justify-content: space-around
                        i
                            flex: 1
                            &.golden
                                color: gold
        ul.el__exp
            li
                h4
                    margin-bottom: 10px
                    font-size: 1em                    
                p
                    font-size: .9em

        ul.el__education
            li
                ul.courses
                    li
                        list-style: lower-greek
                        margin-left: 35px
    .main__cols
        flex: 3

        display: flex
        flex-direction: row
        justify-content: space-between

        .main__col
            display: flex
            flex-direction: column
            justify-content: space-between
            &:last-child
                justify-content: flex-start
                
i.fa:not(.fa-star)
    width: 40px
    height: 40px
    line-height: 40px

    font-size: 20px
    text-align: center
    border-radius: 50%


    background-color: $header-background
    color: $main-background

@include for-phone-only
    p
        font-size: .8em

    .main
        width: 90%
        .main__el
            flex: 1
            ul.el__skills
                li
                    display: flex
                    align-items: center
                    
                    .skill__icon
                        width: 10%
                        margin-right: 35px
                            
                    .skill__info
                        width: 80%
                        input[type="range"]
                            width: 90%
            ul.el__languages
                flex-direction: column
                
        .main__cols
            flex-direction: column
@include for-phone-up
    .main
        .main__cols
            .main__col
                flex: 1
                &:last-child
                    flex: 2
@include for-desktop
    .main
        .main__cols
            .main__col
                flex: 3
                &:last-child
                    flex: 2